.calculator-display {
    width: 99.5%;
    text-align: right;
    margin: 0;
    border: 1px solid gray;
    background-color: black;
    color: white;
}

.calculator-display p {
    padding: 20px 20px;
    margin: 0;
    font-size: 1.5rem;
}